.Form{
    margin: 0;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fafafa;
    font-weight: 400;
    background: #E6DADA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.bmd-label{
    top: 1rem;
    left: 0;
    font-size: .75rem;
    position: absolute;
    pointer-events: none;
    transition: all .3s ease;
    line-height: 1;
    color: rgb(0, 0, 0);
    display: inline-block;
    margin-bottom: .5rem;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#quoteForm{
    margin-bottom: 1.125rem;

}

.bmd-form-group {
    position: relative;
    padding-top: 1.75rem;
}

.form-group {
    margin-bottom: 1rem;
}


@media (min-width: 1200px){
.container {
    max-width: 1140px;
}
}

@media (min-width: 992px)
{.container {
    max-width: 960px;
}}

@media (min-width: 768px)
{.container {
    max-width: 720px;
}}
@media (min-width: 576px)
{.container {
    max-width: 1000px;
}
}

@media (min-width: 768px)
{.ml-md-auto, .mx-md-auto {
    margin-left: auto!important;
}}

@media (min-width: 768px)
{.mr-md-auto, .mx-md-auto {
    margin-right: auto!important;
}}
@media (min-width: 768px)
{.col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}}

@media (min-width: 768px)
{.col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}
}
.col{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.btn.btn-raised.btn-primary {
    background-color: rgb(106, 107, 107)!important;
    font-size: 16px;
    width: 100%;
    padding: 15px;
    position: relative;
    margin-bottom: .3125rem;
    font-size: .875rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    border: 0;
    outline: 0;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    will-change: box-shadow,transform;
    color: rgba(0,0,0,.87);
    background-color: transparent;
    border-color: #ccc;
    
}
.headerStyle1 {
    background-color:#1b1b1C;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.text-center {
    text-align: center!important;
    font-size: 22px;
    margin:0;
    color: white;
}
.error {
    background-color: #FBE9E7;
    border: 1px solid #F4511E;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #F4511E;
}
.correct {
    background-color: rgb(211, 249, 187);
    border: 1px solid rgb(50, 167, 0);
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(4, 150, 50);
}
.error p {
    margin:0;
}
#content {
    margin-top: 60px;
    background-color: white;
    -webkit-box-shadow: 0px 21px 46px -15px rgba(0,0,0,1);
    -moz-box-shadow: 0px 21px 46px -15px rgba(0,0,0,1);
    box-shadow: 0px 21px 46px -15px rgba(0,0,0,1);
}
.form-content {
    margin-top: 30px;
}
#loading {
    text-align: center;
    display: none; 
}
#loading div {
    margin: 0 auto;
}
#result  {
    margin-bottom: 40px;
}
#result div {
    border: 1px solid rgb(38, 218, 134);
    text-align: center;
    padding: 0  0 20px 0;
}
#result div p {
    margin-bottom: 0;
}
#result div p.header {
    background-color: rgb(46, 122, 84);
    margin-bottom: 10px;
    color:white;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #F4511E;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }


  input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}